﻿<h2>{{welcome}}</h2>
<h3>{{message}}</h3>


<div ng-repeat="article in articles">
    <h2>{{article.Title}}</h2>

    <span ng-bind-html="renderHtml(article.Body)"></span>

    <span>Published by on {{article.PublishDate | date:'dd/MM/yyyy'}}</span>

    <input type="button" value="Add Comment" class="btn btn-default" ng-click="addComment()" />
    <div ng-show="newCommentMode">
        <h3>New Comment</h3>
        <input type="text" ng-model="newComment.CommentBody" />
        <input type="button" ng-click="saveComment()" value="Save" />
    </div>
    <div ng-repeat="comment in article">
        <span>{{comment.CommentBody}}</span>
        <span>{{comment.CommentDate}}</span>
    </div>
</div>