﻿<h2>{{welcome}}</h2>
<h3>{{message}}</h3>

<label>Title</label>
<input type="text" ng-model="newArticle.Title" />
<label>Description</label>
<input type="text" ng-model="newArticle.Description" />
<label>Body</label>
<input type="text" ng-model="newArticle.Body" />
<input type="button" ng-click="addArticle()" value="Save" />