﻿<h2>{{welcome}}</h2>
<h3>{{message}}</h3>


<div>
    <input type="button" class="btn btn-danger" ng-click="dataAdmin(0)" value="Clear Data" />
</div>
<div>
    <input type="button" class="btn btn-warning"  ng-click="dataAdmin(1)" value="Load Data"/>
</div>
<div>
    <input type="button" class="btn btn-default"  ng-click="dataAdmin(2)" value="Clear and Load"/>
</div>
