﻿<h2>{{welcome}}</h2>
<h3>{{message}}</h3>

<p>Whilst we are in development mode you can select a user from the list below:</p>

<div ng-repeat="user in users">
    <div>
        <label>UserName :</label><span>{{user.UserName}}</span>
    </div>
    <div>
        <label>Description :</label><span>{{user.Description}}</span>
    </div>
    <div>
        <input type="button" class="btn btn-default" ng-click="setUser(user)" value="Select" />
    </div>
</div>

<h3>The current selected user is : {{ getCurrentUser().UserName }}</h3>